<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
<wicket:extend>
	<p wicket:id="msg">[Mesangem aqui]</p>
	
<div class="container">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nome</th>
        		<th>Sobrenome</th>
        		<th>Idade</th>
        		<th>DtNascimento</th>
        		<th>Genero</th>
        		<th>Telefone</th>
        		<th>Email</th>
        		<th>Endereço</th>
        		<th>Estrangeiro</th>
        		<th>Comentario</th>
        		<th class="no-sort text-center">Ações</th>
         	</tr>
    	</thead>
        <tbody >
        <!--	<tr wicket:id="list2">
        		<td wicket:id="nome" />
        		<td wicket:id="sobrenome" />
        		<td wicket:id="idade" />
        		<td wicket:id="dtnascimento" />
        		<td wicket:id="gender" />
        		<td wicket:id="telefone" />
        		<td wicket:id="email" />
        		<td wicket:id="endereco" />
        		<td wicket:id="idioms" />
        		<td wicket:id="text" />
        		<td class="text-center">
                <a class="btn btn-default" rel="tooltip" data-placement="top" " title="" data-original-title="Alterar">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a class="btn btn-default modal-confirm" (click)="openModal(template, cadastro, i)" data-url="#">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
        	</tr>  -->
    </tbody>
  </table>
</div>
</wicket:extend>


</body>
</html>